.backDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.overlay {
    border: 2px solid red;
    position: relative;
    text-align: center;
}

.overlay ul {
    list-style: none;
    justify-content: space-between;
}